@font-face {
    font-family:Anja ;
    src: url(Anja\ Eliane.ttf);
}

header {
    display: flex;
    justify-content: center;
    padding: 1.25rem;
    background-color: #FCD24F;
    color: #1F1347;
    font-family: "Anja";
}